language: node_js
node_js:
    - '12'

cache:
    directories:
        - 'node_modules'

breanches:
    only
        - master

install:
    - npm install
    - npm run deploy

script:
    - echo 'No tests'

deploy:
    provider: pages
    skip-cleanup: true
    github-token: $GITHUB_ACCESS_TOKEN
    target-branch: gh-pages
    local-dir: dist
    on:
        branch: master
        tag: true
